@import "~bootstrap/scss/bootstrap.scss";
* {
    box-sizing: border-box;
}
.traffic {
    border-radius: 10px;
    height: 300px;
    width: 75px;
    margin:auto;
    padding-top: 25px;
}
.dot {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: block;
  margin-top: 20px;
  margin-left: 10px;
}
